body {
    background-color: #E1F2F7;
}
.container {
    
    margin: auto;
    box-shadow: 20px 20px 50px grey;
    width: 882px;
}
.banpage {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#menu {
    font-family: 'Reem Kufi Fun', sans-serif;
}

#HK_social {
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.about {
    text-align: center;
    width: 882px;
    margin: auto;
    font-size: 25px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #66A341;
  }

  .textblue {
    color: blue;
  }